@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bing Maps</title>
    <link href="~/css/jspanel.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/ol.css" type="text/css">

    <!--<script src="https://cdn.polyfill.io/v3/polyfill.js?features=fetch,requestAnimationFrame,Element.prototype.classList,URL,TextDecoder"></script>-->
    <script src="~/js/jquery3_6_0.js"></script>
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <script src="~/js/ol.js"></script>
    <link rel="stylesheet" href="~/css/map.css" />
</head>
<body>
    <button class="btn btn-success mb-3" onclick="ActiveDoor();">Add Door</button>
    <button class="btn btn-success mb-3" onclick="ActiveNeigh();">Add Neighborhood</button>
    <button class="btn btn-success mb-3" onclick="ActiveInfo();">Get Information</button>
    <button class="btn btn-success mb-3" onclick="ActiveEdit();">Edit</button>


    <div id="map" class="map mb-4"></div>
    
    <!--
    <form class="form-inline">
        <label for="type">Geometry type &nbsp;</label>
        <select id="type">
            <option value="Point">Point</option>
            <option value="LineString">LineString</option>
            <option value="Polygon">Polygon</option>
            <option value="Circle">Circle</option>
        </select>
    </form>

    <select id="layer-select" class="layer-select">

        <option value="AerialWithLabelsOnDemand" selected>Aerial with labels</option>

    </select>

    <form class="form-inline">
        <label for="type">Geometry type: &nbsp;</label>
        <select class="form-control mr-2 mb-2 mt-2" id="type">
            <option value="Point">Point</option>
            <option value="LineString">LineString</option>
            <option value="Polygon">Polygon</option>
            <option value="Circle">Circle</option>
            <option value="None">None</option>
        </select>
        <input class="form-control mr-2 mb-2 mt-2" type="button" value="Undo" id="undo">
    </form>
        -->

    <select class="form-select mb-2" id="neigh_list" aria-label="Default select example" style="width:250px;">
        <option selected>Select Neighborhood</option>

    </select>
    <select class="form-select" id="door_list" aria-label="Default select example" style="width:250px;">
        <option selected>Select door number</option>

    </select>
    <button class="btn btn-success mt-2" onclick="Filter();">Filter</button>
    <script src="~/js/jspanel.js"></script>
    <script src="~/js/map.js"></script>
    <script src="~/js/door.js"></script>
    <script src="~/js/neighborhood.js"></script>



</body>
</html>




